.collection {
	position: relative;
	width: 50%;
	height: 100%;
	@media (max-width: $bp-medium) {
		height: 50rem;
		width: 90%;
	}
	@media (max-width: $bp-smallest) {
		height: 40rem;
		width: 100%;
	}

	&__img {
		width: 18rem;
		position: absolute;
		transform: translate(-50%, -50%);
		transition: all 0.2s;

		// animation
		outline-offset: 1.3rem;
		transition: all 0.6s;

		@media (max-width: $bp-smallest) {
			width: 15rem;
		}

		&:hover {
			z-index: 4;
			transform: scale(1.05) translate(-50%, -50%);
			box-shadow: 0 2.5rem 4rem rgba(#1111, 0.5);
			// animation
			outline: 1rem solid var(--color-primary);
		}

		&--1 {
			top: 50%;
			left: 25%;
			z-index: 1;

			//
		}

		&--2 {
			top: 40%;
			left: 50%;
			z-index: 3;
		}

		&--3 {
			top: 50%;
			left: 75%;
			z-index: 2;
		}
	}
}
