.footer {
	background-color: var(--color-dark);
	color: #fff;
	text-align: center;
	padding: 3rem 0;
	margin-top: 2.5rem;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 10000;
}
