.input-stepper {
	border: 1px solid var(--color-grey);
	display: flex;
	margin: 0 auto;
	justify-content: center;

	&__input {
		width: 3rem;
		text-align: center;
		border: none;
		outline: none;
		margin-left: -1rem;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			appearance: none;
			margin: 0;
		}
	}
}

#decrement,
#increment {
	color: var(--color-grey);
	background-color: transparent;
	border: none;
	font-size: 2rem;
	padding: 5px 1rem;
	cursor: pointer;
}

#increment {
	margin-left: -1rem;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}
