.navigation {
	width: 100%;
	height: 8rem;
	background: #ffff;
	display: flex;
	align-items: center;
	padding: 0.5rem 5rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	box-shadow: 0 1rem 4rem rgba(rgba(17, 51, 51, 0.123), 0.2);

	&--admin {
		justify-content: end;
	}

	&__link {
		text-decoration: none;
		color: var(--color-grey);
		position: relative;
		transition: all 0.2s;
		display: inline-block;
		padding: 2px 1rem;

		&:hover {
			background-color: var(--color-primary);
			color: #fff;
		}
	}

	&__main {
		display: flex;
		flex-grow: 1;
		list-style: none;
		color: var(--color-dark);
		margin-left: 1rem;
		transition: all 0.2s;
	}

	&__menu {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 0;
		margin: 0;
		text-align: right;
	}

	&__backdrop {
		display: none;
	}

	&__menu-icon {
		display: none;
		background-color: transparent;
		border: none;
		font-size: 2.5rem;

		justify-content: center;
		align-items: center;
		transition: all 0.3s;
		cursor: pointer;

		&:hover {
			color: var(--color-secondary);
		}
	}

	@media (max-width: $bp-medium) {
		padding: 0.5rem 2rem;
		&__main {
			display: none;
		}

		&__menu {
			flex-grow: 1;
		}

		&__backdrop {
			position: fixed;
			top: 0;
			left: 0;
			height: 100vh;
			width: 100%;
			display: none;
			background-color: #000000ba;
		}

		&__user-options {
			display: none;
		}

		&__menu-icon {
			display: flex;
		}
	}

	.logo {
		height: inherit;
		margin-right: 2rem;
	}

	.logo img {
		width: 15rem;
		height: inherit;
		object-fit: contain;
	}

	.logo a {
		display: block;
		height: 100%;
	}

	li {
		list-style: none;
	}
}

.navigation-menu-item {
	display: inline-block;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.navigation-menu-basket {
	margin-right: 2rem;
}

.navigation-action {
	display: flex;
	align-items: center;
	margin-left: 2rem;
}

.navigation-menu-active {
	font-weight: bold;
	opacity: 1 !important;
}

// sticky
.sticky {
	padding: 0.3rem 5rem;
	position: fixed;
	top: 0;
}

.nav-hidden {
	display: none;
}

// NAVIGATION MOBILE
.navigation-mobile {
	position: fixed;
	top: 0;
	background-color: #fff;
	height: 100vh;
	width: 60vw;
	display: flex;
	flex-direction: column;
	align-items: end;
	padding: 2rem;
	gap: 3rem;
	transition: all 0.4s;
	transition-delay: 3ms;
	// animation
	right: -100%;

	a {
		text-decoration: none;
		&:not(.sign-in) {
			color: currentColor;
		}
	}

	&__menu-icon {
		position: absolute;
		top: 2rem;
		left: -7rem;
		background-color: #fff;
		border: none;
		padding: 1.5rem;
		font-size: 2.5rem;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	&__box-logout {
		display: none;

		@media (max-width: $bp-medium) {
			display: block;
		}
	}

	&__logout {
		border: none;
		outline: none;
		background-color: transparent;
		font-size: 1.6rem;
		color: var(--color-grey);
		cursor: pointer;
	}

	@media (max-width: $bp-medium) {
		&__user-options {
			width: 100%;
		}
	}
}

.navigation-active {
	right: 0;

	@media (min-width: $bp-medium) {
		display: none;
	}
}

.navigation-active-backdrop {
	display: block;
}
